h1 {
  color: rgb(38, 9, 93);
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

p {
  color: blueviolet;
  text-align: justify;
}

* {
  background-color: #a8e8a6;
  margin: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.logo {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 20px;
}